<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book a Flight</title>
    {% load static %}
</head>
<script src="{% static 'booking.js' %}"></script>
<body>
<h1>Book a flight!</h1>
<form id="booking_details" method="POST" action="{% url 'manage' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"/>
</form>
</body>
<script>
    flight = {{ flight_data|safe }};
    route = {{ route_data|safe }};
    display_flight(flight, route[0])
</script>
</html>
