<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book a Flight</title>
    {% load static %}
</head>
<script src="{% static 'make_booking.js' %}"></script>
<body>
<h1>Book Your Flight</h1>
<form id="booking_details" method="POST" action="{% url 'view' %}">
    {% csrf_token %}
    {{ form.as_table }}
    <button id="book_button" type="submit" value="Submit">Book</button>
</form>
</body>
<script>
    flight = {{ flight_data|safe }};
    route = {{ route_data|safe }};
    console.log(flight)
    display_flight(flight[0], route[0]);

</script>
</html>
