<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
    {% load static %}
</head>

<body>
<h1>Flights Home Page</h1>

<p><img src="{% static 'airplane-flight.jpg' %}"/></p>
<form method="POST" action="{% url 'search' %}">
    {% csrf_token %}
    {{ form_flight.as_table }}
    <input type="submit" value="Submit"/>
</form>
<form method="POST" action="{% url 'view' %}">
    {% csrf_token %}
    {{ form_booking.as_table }}


    <input type="submit" value="Submit"/>
</form>
</body>


</html>