<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for a Flight</title>

</head>
<body>
<h1>Search for a flight!</h1>

<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="search">Search</button>
</form>
<button onclick="view_data()">View</button>

<pre id="flight_data"></pre>
<button id="book_button" style="display: none">Book</button>

</body>
<script>
    function view_data() {
        let flights = {{ flight_data|safe }};
        let routes = {{ route_data|safe }};
        document.getElementById("book_button").style.display = "none"

        if (flights.length > 0) {
            if (flights.length === 1) {
                document.getElementById("flight_data").innerHTML += `<h2>${flights.length} Match Found </h2>`
            } else {
                document.getElementById("flight_data").innerHTML += `<h2>${flights.length} Matches Found </h2>`
            }
            for (const i in flights) {
                document.getElementById("flight_data").innerHTML += `<div id = "check_box"><input type="checkbox" id=${flights[i]['route_id']}> Select to Book </input></div><br>`
                console.log(flights[i])
                document.getElementById("flight_data").innerHTML += `<div id = 'flight_info'>Date: ${flights[i]['date']} <br>` +
                    `Flight Number: ${flights[i]['route_id']} <br>` +
                    `Price: $${flights[i]['price']} NZD<br>`
                for (const j in routes) {
                    console.log(routes[j])
                    if (flights[i]['route_id'] === routes[j]['route_id']) {
                        document.getElementById("flight_data").innerHTML +=
                            `Departure Time: ${routes[j]['departure_time']} <br>` +
                            `Arrival Time: ${routes[j]['arrival_time']} <br>`
                        console.log(routes[j]['stopover_location_id'])
                        if (routes[j]['stopover_location_id'] != null) {
                            document.getElementById("flight_data").innerHTML +=
                                `Stopover Location: ${routes[j]['stopover_location_id']} <br>` +
                                `Stopover Length: ${routes[j]['stopover_time']} <br>`
                        }
                    }
                }

                document.getElementById("flight_data").innerHTML += `</div><br>`
                document.getElementById("book_button").style.display = "block"

            }
        } else {
            document.getElementById("flight_data").innerHTML = `<h2>No Matches Found. </h2> <br>` +
                `<p> Please try entering a different date and make sure the arrival and departure locations are different </p>`
        }


    }
</script>
</html>

