<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Booking</title>
    {% load static %}
</head>
<script src="{% static 'view_booking.js' %}"></script>

<body>
<h1>Your Booking:</h1>
<div id="booking_details"></div>
<form id="cancel_booking" method="POST" action="{% url 'cancel' %}">
    {% csrf_token %}
</form>

</body>
<script>

    booking ={{ booking|safe }};
    passenger =  {{ passenger|safe }};
    flight = {{ flight|safe }};
    route ={{ route|safe }};
    if ('error' in booking) {
        display_error(booking)
    } else {
        display_booking(booking, passenger, flight[0], route[0]);
        add_cancel_option(booking['booking_id']);
    }

</script>
</html>
