<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Booking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
</head>
<script src="{% static 'view_booking.js' %}"></script>

<body>
<h1>Your Booking:</h1>
<div id="booking_details"></div>
<form id="cancel_booking" method="POST" action="{% url 'cancel' %}">
    {% csrf_token %}
</form>

</body>
<script>

    booking ={{ booking|safe }};
    passenger =  {{ passenger|safe }};
    flight = {{ flight|safe }};
    route ={{ route|safe }};
    if ('error' in booking) {
        display_error(booking)
    } else {
        display_booking(booking, passenger, flight[0], route[0]);
        add_cancel_option(booking['booking_id']);
    }

</script>
</html>
